*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #928cff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    position: relative;
}
.inputs{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h2{
    font-size: 32px;
    text-align: center;
}
.data{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4px;
}
.data input{
    padding: 4px;
    outline: none;
    border: 1px solid #928cff;
    border-radius: 4px;
}
.data button{
    background-color: #928cff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}
.data button:hover{
    background-color: #928cffb4;
    transform: scale(1.1);
}
.data button:active{
    transform: scalez(1.7);
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;/*لو ال box في محتوى ف ال box بياخد مساحه ازيد على حسب المحتوى الي فيه*/
    width: 100%;
}
.box{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.item{
    background-color: #928cff;
    padding: 10px;
    margin: 10px;
    cursor: move;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff; 
}

.trash{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px ;
    background-color: #fff;
    position: fixed;
    border-radius: 100px;
    bottom: 5px;
    right: 20px;
}
.trash .trash_icon{
    font-size: 20px;
    color:#807af0;
}